  body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .navbar {
    overflow: hidden;
    background-color: #333;
    border-radius: 20px;
    width: 1411px;
  }
  
  #first {
      margin-left: 450px;
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }

  .dropdown2 {
    float: left;
    overflow: hidden;
  }

  .dropdown3 {
    float: left;
    overflow: hidden;
  }

  .dropdown4 {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown2 .dropbtn2 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 14px 30px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }

  .dropdown3 .dropbtn3 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 5px 40px;
    background-color: inherit;
    font-family: inherit;
    margin: 5;
  }

  .dropdown4 .dropbtn4 {
    font-size: 16px;  
    border: none;
    outline: none;
    color: black;
    padding: 5px 40px;
    background-color: inherit;
    font-family: inherit;
    margin: 5;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    background-color: red;
  }

  .navbar a:hover, .dropdown2:hover .dropbtn2 {
    background-color: red;
  }
  .navbar a:hover, .dropdown3:hover .dropbtn3 {
    background-color: red;
  }

  .navbar a:hover, .dropdown4:hover .dropbtn4 {
    background-color: red;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 20px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content2 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content3 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content4 {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 60px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content2 a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content3 a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content4 a {
    float: none;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }

  .dropdown-content2 a:hover {
    background-color: #ddd;
  }

  .dropdown-content3 a:hover {
    background-color: #ddd;
  }

  .dropdown-content4 a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown2:hover .dropdown-content2 {
    display: inline;
  }

  .dropdown3:hover .dropdown-content3 {
    display: inline;
  }

  .dropdown4:hover .dropdown-content4 {
    display: inline;
  }

  .fa fa-caret-right {
      display: inline;
  }

  #footer {
    right:5px;
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 0px 20px;
    text-decoration: none;
    display: inline;
  }

  .bottombar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    bottom: 0.5px;
    border-radius: 20px;
  }

  #insta {
    position:absolute;
    margin-left:630px;
    margin-top:5px;
  }

  #fb {
    position:absolute;
    margin-left:695px;
    margin-top:-5px;
  }

  #git {
    position:absolute;
    margin-left:750px;
    margin-top:2px;
  }

  #first2 {
    margin-left: 1200px;
  }

  body {
    background-color:#f5f4ef;
  }

  .container {
    background-color: rgba(0, 0, 0, 0.26);
    height: 40vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 26px;
    border-radius: 20px;
    margin-top: 20px;
    width: 1412px;
  }

  .container2 {
    background-color: rgba(0, 0, 0, 0.26);
    height: 45vh;
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    font-size: 26px;
    border-radius: 20px;
    margin-top: 20px;
    width: 1412px;
  }

  .middlebar {
    overflow: hidden;
    background-color: rgba(69, 77, 80, 0.671);
    height: 35px;
    width:1400px;
    border-radius: 20px;
    padding: 6px;
    margin-top:20px;
  }

  #sem {
    font-weight: bold;
    text-align: center;
    font-size: 26px;
  }

  .tile {
    height: 270px;
    width: 250px;
    background-color: rgb(15, 22, 26);
    display: block;
    margin-top: 20px;
    border-radius: 20px;
  }

  .image {
    border-radius:20px;
    margin-top:10px;
    height: 210px;
    width:190px;
  }

  .img_text {
    font-size: 20px;
    color: white;
  }

